@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,400;1,700;1,800&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Commissioner', sans-serif;
}

.layer1 {
  position: absolute;
  margin-top: -35vh;
  margin-left: 40%;
}

.Search {
  position: absolute;
  height: 38px;
  width: 400%;
  margin-left: 40%;
  margin-top: -12%;
  border: none;
}

.Search_bar {
  height: 38px;
  width: 547.521px;
  margin-left: -2%;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.ISPdisplay{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
  background-color: #fff;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  min-height: 130px;
  position: relative;
  z-index: 1000;
  padding: 30px;
}


.search_btn {
  position: absolute;
  background-color: black;
  margin-top: 2%;
  height: 37px;
  margin-left: 7.7%;
  margin-top: 1px;
  border-radius: 24%;
  width: 1%;
  size: 13%;
}

.info{
    border-right: 1px solid;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15px;
}
.info-block-last {
    border-right: none;
}

.title {
    font-size: 11px;
    text-transform: uppercase;
}
span.results {
    font-weight: 500;
    color: #2b2b2b;
    font-size: 16px;
}










#Mapdisplay{
  
}




@media (max-width: 767px) {
  body {
    background-color: lightblue;
  }

  h1 {
    font-size: 24px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightyellow;
  }

  h1 {
    font-size: 48px;
  }
}

@media (min-width: 1025px) {
  body {
    background-color: lightgreen;
  }

  h1 {
    font-size: 72px;
  }
}
